/* PostDetailModal.css */
.fade-enter {
    opacity: 0.01;
    transform: scale(0);
  }
  
  .fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 300ms, transform 300ms;
  }
  
  .fade-exit {
    opacity: 1;
    transform: scale(1);
  }
  
  .fade-exit-active {
    opacity: 0.01;
    transform: scale(0);
    transition: opacity 300ms, transform 300ms;
  }
  
  .post-detail-modal {
    .modal-content {
      border-radius: 10px;
      width: 500px;
    }

    .modal-body {
      /* max-height: 600px; 필요에 따라 조절 */
      overflow-y: hidden;
    }

    .modal-body img {
      max-height: 600px; /* 이미지의 최대 높이 설정 */
      width: auto; /* 가로 비율 유지 */
      max-width: 100%; /* 부모 요소에 맞추기 */
      margin: auto; /* 중앙 정렬 */
      display: block; /* 인라인 요소를 블록으로 변경하여 중앙 정렬 */
    }
  }
  
  .post-info {
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
  }
  
  .nickname {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .created-at {
    color: #888;
  }
  
  .post-content {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .tag-list {
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .tag {
    margin-right: 6px;
  }

  .interactions {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.like-num {
    margin-left: 6px;
    
}

.comment-num {
    margin-left: 10px;
    color: gray;
    font-size: 14px;
    margin-top: 9px;
}